{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="text-center mb-4">Tutorials Coming Soon!</h2>
            <br>
            <p class="text-center text-muted">
                We are working on some online content and classes to help you get the most out of our services.
                <br>
                Please check back later for updates!
            </p>
        </div>
    </div>      
</div>

{% endblock %}