{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <h2 class="logo-font mb-4 text-center">Shopping Bag</h2>
            </div>
        </div>

        <div class="row">
            <div class="col">
                {% if bag_items %}
                    <div class="table-responsive rounded">
                        <table class="table table-sm table-borderless">
                            <thead class="text-black fs-5">
                                <tr>
                                    <th scope="col">Product Info</th>
                                    <th scope="col"></th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Qty</th>
                                    <th scope="col">Subtotal</th>
                                </tr>
                            </thead>
                            {% for item in bag_items %}
                                <tr class="border-top">
                                    <td class="py-3 w-25 ratio ratio-4x3">
                                        <img class="img-fluid rounded p-3" src="{{ item.product.image.url }}">
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                        <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">£{{ item.product.price }}</p>
                                    </td>
                                    <td class="py-3 w-25">
                                        <form class="form update-form" method="POST" action="">
                                            {% csrf_token %}
                                            <div class="input-group input-group-sm input-group-{{ item.product.id }}">
                                                <button class="btn btn-sm btn-outline-secondary decrement-qty decrement-qty_{{ item.product.id }}" 
                                                    type="button" data-item_id="{{ item.product.id }}">
                                                    <i class="fas fa-minus"></i>
                                                </button>
                                                <input name="quantity" min="1" max="99" value="{{ item.quantity }}" 
                                                    class="form-control text-center btn-outline-secondary qty_input id_qty_{{ item.product.id }}" 
                                                    data-item_id="{{ item.product.id }}" style="max-width: 60px;">
                                                <button class="btn btn-outline-secondary increment-qty increment-qty_{{ item.product.id }}" 
                                                    type="button" data-item_id="{{ item.product.id }}">
                                                    <i class="fas fa-plus"></i>
                                                </button>
                                            </div>
                                            <a class="update-link text-info me-2" href=""><small>Update</small></a>
                                            <a class="remove-link text-danger float-right" id="remove_{{ item.item_id}}" href=""><small>Remove</small></a>
                                            <!-- <input type="hidden" name="product_id" value="{{ item.product.id }}"> -->
                                        </form>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">£{{ item.product.price }}</p>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="5" class="text-end border-top pt-3">
                                    <h6 class="text-end fs-4"><strong>Bag Total: £{{ total|floatformat:2 }}</strong></h6>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" class="pt-3 text-end">
                                    <a href="{% url 'classes' %}" class="btn btn-one btn-lg me-3 mb-3">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span class="text-uppercase">Keep Shopping</span>
                                    </a>
                                    <a href="" class="btn btn-two btn-lg mb-3">
                                        <span class="text-uppercase">Secure Checkout</span>
                                        <span class="icon">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                {% else %}
                    <p class="lead mb-5">Your bag is empty.</p>
                    <a href="{% url 'classes' %}" class="btn btn-one btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include "classes/includes/quantity_input_script.html" %}

<script type="text/javascript">
    
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-link').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('size');
        var url = `/bag/remove/${itemId}`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'size': size};
        $.post(url, data)
        .done(function() {
            location.reload();
        });
    })
</script>

{% endblock %}