{% extends "base.html" %}
{% load static %}
{% load bag_tools %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <h2 class="logo-font mb-4 text-center">Shopping Bag</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if bag_items %}
                <div class="d-block d-md-none">
                    <div class="row">
                        <div class="col">
                            <p class="text-muted mb-5">A summary of your bag contents is below</p>
                        </div>
                    </div>
                    {% for item in bag_items %}
                        <div class="row">
                            <div class="col-12 col-sm-6 mb-2">
                                {% include "bag/product-image.html" %}
                            </div>
                            <div class="col-12 col-sm-6 mb-2">
                                {% include "bag/product-info.html" %}
                            </div>
                            <div class="col-12 col-sm-6 mb-2">
                                <p class="my-0">Price: £{{ item.product.price }}</p>
                            </div>
                            <div class="col-12 col-sm-6">
                                {% include "bag/quantity-form.html" %}
                                
                            </div>
                            <div>
                                <hr>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="row">
                        <div class="col mb-3">
                            <h6 class="fs-4"><strong>Bag Total: £{{ total|floatformat:2 }}</strong></h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {% include "bag/checkout-buttons.html" %}
                        </div>
                    </div>
                </div>
                    <div class="table-responsive rounded d-none d-md-block">
                        <table class="table table-sm table-borderless">
                            <thead class="fs-4">
                                <tr>
                                    <th scope="col">Product Info</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Qty</th>
                                    <th scope="col">Subtotal</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for item in bag_items %}
                                <tr class="border-top">
                                    <td class="py-3 w-25 ratio ratio-4x3">
                                        {% include "bag/product-image.html" %}
                                    </td>
                                    <td class="py-3">
                                        {% include "bag/product-info.html" %}
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">£{{ item.product.price }}</p>
                                    </td>
                                    <td class="py-3 w-25">
                                        {% include "bag/quantity-form.html" %}                                       
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">£{{ item.product.price|calc_subtotal:item.quantity|floatformat:2 }}</p>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="5" class="text-end border-top pt-3">
                                    <h6 class="text-end fs-4"><strong>Bag Total: £{{ total|floatformat:2 }}</strong></h6>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" class="pt-3 text-end">
                                    {% include "bag/checkout-buttons.html" %}
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                {% else %}
                    <p class="lead mb-5">Your bag is empty.</p>
                    <a href="{% url 'classes' %}" class="btn btn-one btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left" aria-hidden="true"></i>
                        </span>
                        <span>Keep Shopping</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}


{% block postloadjs %}
{{ block.super }}
{% include "classes/includes/quantity_input_script.html" %}


<script type="text/javascript">
    (function () {
        function getCookie(name) {
            const m = document.cookie.match('(^|;)\\s*' + name + '\\s*=\\s*([^;]+)');
            return m ? m.pop() : '';
        }
        const csrftoken = getCookie('csrftoken');


        $('.update-link').click(function (e) {
            e.preventDefault();
            var form = $(this).closest('form.update-form');
            if (form.length) form.trigger('submit');
        });


        $('.remove-link').click(function (e) {
            e.preventDefault();


            var itemId = ($(this).attr('id') || '').split('remove_')[1];
            var url = `/bag/remove/${itemId}/`; 


            fetch(url, {
                method: 'POST',
                credentials: 'same-origin',
                headers: {
                    'X-CSRFToken': csrftoken,
                    'X-Requested-With': 'XMLHttpRequest',
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                },
                body: new URLSearchParams({})
            })
                .then(function (resp) {
                    if (!resp.ok) throw new Error('HTTP ' + resp.status);
                    location.reload();
                })
                .catch(function (err) {
                    console.error('Remove failed:', err);
                    location.reload(); 
                });
        });
    })();
</script>

{% endblock %}
