{% extends "base.html" %}

{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!--Hero image section-->
    <section id="about" class="container">
        <div class="row">
            <div class="col-12 text-center my-4">
                <h2 class="">Join Me In My Studio</h2>
            </div>
            <div class="col-12 col-md-6 mb-4">
                <p>
                    Hi, I'm Svetlana Lilley! 
                    Welcome to my world of wool and silk, right here in Neath, South Wales. 
                    I'm a master felting artist and passionate educator dedicated to preserving this ancient craft.
                </p>
                <p>
                    I specialize in nuno felting, the delicate technique of fusing fabric and wool to create stunning, wearable art and intricate textiles. <br>
                    I love honouring tradition by working with locally sourced Welsh wool, bringing history and heritage into every piece
                </p>
                <p>
                    Come join one of my hands-on workshops! It's more than just learning a skill—it's a friendly, creative environment where we can meet new people, enjoy a nice cuppa, and have a chat. 
                </p> 
                <p>
                    Whether you're a complete beginner or an experienced artist, you'll find an inspiring, welcoming setting to master the rewarding art of transforming raw wool. 
                    Explore my workshops and start your felting journey today!
                </p>
            </div>
            <div class="col-12 col-md-6 mb-4 justify-content-center d-flex align-items-center">
                <img src="{% static 'images/hero.jpeg' %}" class="img-fluid" alt="Sveta Lilley">
            </div>
        </div>
        <div class="d-flex flex-wrap gap-2">
            <a class="btn btn-ws-primary btn-lg btn-one" href="{% url 'classes' %}">View Classes</a>
            <a class="btn btn-ws-primary btn-lg btn-two" href="#tutorials">Explore Tutorials</a>
        </div>
    </section>

{% endblock %}