{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <h2 class="logo-font mb-4">Testimonials</h2>
            <h3 class="h5 text-muted">We’re a small business and your feedback means a lot to us. Please share a few words about your experience to help others discover Wool and Silk and support our studio.</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6">
            <form method="POST" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="text-right">
                    <a class="btn btn-one mt-2" href="{% url 'home' %}">Return Home</a>
                    <button class="btn btn-two mt-2" type="submit">Submit</button>
                </div>
            </form>
        </div>  
    </div>
</div>
{% endblock %}