{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth account %}
{% load crispy_forms_tags %}

{% block inner_content %}
    {% setvar title_ %}
        {% block title %}{% endblock %}
    {% endsetvar %}
    {% setvar action_url %}
        {% block action_url %}{% endblock %}
    {% endsetvar %}
    {% setvar extra_tags %}
        {% block extra_tags %}{% endblock %}
    {% endsetvar %}
    {% setvar form_tags %}
        entrance,{{ extra_tags }}
    {% endsetvar %}
    {% setvar submit_button_tags %}
        confirm,{{ extra_tags }}
    {% endsetvar %}
    {% setvar recipient %}
        {% block recipient %}{% endblock %}
    {% endsetvar %}

    <h2>{{ title_ }}</h2>

    <p>
        {% blocktranslate %}
            We've sent a code to {{ recipient }}. The code expires shortly, so please enter it soon.
        {% endblocktranslate %}
    </p>

    {# Main verify form (was element form) #}
    <form method="post" action="{{ action_url }}" class="allauth-verify-form">
        {% csrf_token %}
        {{ verify_form|crispy }}
        {{ redirect_field }}

        <div class="btn-group mt-3">
            <button type="submit" class="btn-one">
                {% translate "Confirm" %}
            </button>

            {% if can_resend %}
                <button type="submit" form="resend" class="btn-two" name="action" value="resend">
                    {% translate "Request new code" %}
                </button>
            {% endif %}

            {% if cancel_url %}
                <a href="{{ cancel_url }}" class="btn-two">
                    {% translate "Cancel" %}
                </a>
            {% else %}
                <button type="submit" form="logout-from-stage" class="btn-two">
                    {% translate "Cancel" %}
                </button>
            {% endif %}
        </div>
    </form>

    <form id="resend" method="post" action="{{ action_url }}" style="display:none;">
        <input type="hidden" name="action" value="resend">
        {{ redirect_field }}
        {% csrf_token %}
    </form>

    {% if not cancel_url %}
        <form id="logout-from-stage"
              method="post"
              action="{% url 'account_logout' %}" style="display:none;">
            <input type="hidden" name="next" value="{% url 'account_login' %}">
            {% csrf_token %}
        </form>
    {% endif %}

    {% setvar summary_ %}
        {% block change_title %}{% endblock %}
    {% endsetvar %}

    {% if can_change %}
        <details {% if change_form.errors %}open{% endif %}>
            <summary>{{ summary_ }}</summary>
            <div>
                <form method="post" action="{{ action_url }}" class="allauth-change-form">
                    {% csrf_token %}
                    {{ change_form|crispy }}
                    {{ redirect_field }}

                    <div class="mt-3">
                        <button name="action" value="change" type="submit" class="btn-one btn">
                            {% trans "Change" %}
                        </button>
                    </div>
                </form>
            </div>
        </details>
    {% endif %}
{% endblock inner_content %}

