{% extends "account/base_manage_email.html" %}
{% load static allauth i18n %}
{% load crispy_forms_tags %}

{% block head_title %}
    {% trans "Email Addresses" %}
{% endblock head_title %}

{% block inner_content %}
    <h2>{% trans "Email Addresses" %}</h2>

    {% if emailaddresses %}
        <p>{% trans 'The following email addresses are associated with your account:' %}</p>

        {% url 'account_email' as email_url %}

        <form method="post" action="{{ email_url }}">
            {% csrf_token %}

            {% for radio in emailaddress_radios %}
                {% with emailaddress=radio.emailaddress %}
                    <div class="form-check mb-2">
                        <input
                            class="form-check-input"
                            type="radio"
                            name="email"
                            id="{{ radio.id }}"
                            value="{{ emailaddress.email }}"
                            {% if radio.checked %}checked{% endif %}
                        />
                        <label class="form-check-label" for="{{ radio.id }}">
                            {{ emailaddress.email }}
                        </label>

                        {% if emailaddress.verified %}
                            <span class="badge bg-success ms-2"> {% translate "Verified" %} </span>
                        {% else %}
                            <span class="badge bg-warning ms-2"> {% translate "Unverified" %} </span>
                        {% endif %}

                        {% if emailaddress.primary %}
                            <span class="badge btn-two ms-2"> {% translate "Primary" %} </span>
                        {% endif %}
                    </div>
                {% endwith %}
            {% endfor %}

            <div class="mt-3">
                <button type="submit" name="action_primary" class="btn-one btn me-2">
                    {% trans 'Make Primary' %}
                </button>

                <button type="submit" name="action_send" class="btn-two btn me-2">
                    {% trans 'Re-send Verification' %}
                </button>

                <button type="submit" name="action_remove" class="btn-two btn btn-danger">
                    {% trans 'Remove' %}
                </button>
            </div>
        </form>
    {% else %}
        {% include "account/snippets/warn_no_email.html" %}
    {% endif %}

    {% if can_add_email %}
        <h2 class="mt-4">{% trans "Add Email Address" %}</h2>
        {% url 'account_email' as action_url %}
        <form method="post" action="{{ action_url }}">
            {% csrf_token %}
            {{ form|crispy }}

            <div class="mt-3">
                <button name="action_add" type="submit" class="btn-one btn btn-primary">
                    {% trans "Add Email" %}
                </button>
            </div>
        </form>
    {% endif %}
{% endblock inner_content %}

{% block extra_body %}
    <script src="{% static 'account/js/account.js' %}"></script>
    <script src="{% static 'account/js/onload.js' %}"></script>
    <script data-allauth-onload="allauth.account.forms.manageEmailForm" type="application/json">{
    "i18n": {"confirmDelete": "{% trans 'Do you really want to remove the selected email address?' %}"}
}
    </script>
{% endblock extra_body %}
