{% extends "account/base_manage_password.html" %}
{% load i18n %}
{% load allauth %}
{% load crispy_forms_tags %}

{% block head_title %}
    {% trans "Set Password" %}
{% endblock head_title %}

{% block inner_content %}
    <h2>{% trans "Set Password" %}</h2>

    {% url 'account_set_password' as action_url %}
    <form method="post" action="{{ action_url }}">
        {% csrf_token %}
        {{ redirect_field }}
        {{ form|crispy }}

        <div class="mt-3">
            <button type="submit" class="btn-one btn btn-primary">
                {% trans 'Set Password' %}
            </button>
        </div>
    </form>
{% endblock inner_content %}

