{% extends "account/base_manage_phone.html" %}
{% load i18n %}
{% load allauth %}
{% load crispy_forms_tags %}

{% block head_title %}
    {% trans "Change Phone" %}
{% endblock head_title %}

{% block inner_content %}
    <h2>{% trans "Change Phone" %}</h2>

    {% url 'account_change_phone' as action_url %}
    <form method="post" action="{{ action_url }}">
        {% csrf_token %}

        {% if phone %}
            <div class="mb-3">
                <label for="current_phone" class="form-label">{% translate "Current phone" %}:</label>
                <input type="tel" id="current_phone" value="{{ phone }}" class="form-control" disabled>
                {% if not phone_verified %}
                    <div class="mt-2">
                        <button type="submit" form="verify-phone" class="btn-two">
                            {% trans 'Re-send Verification' %}
                        </button>
                    </div>
                {% endif %}
            </div>
        {% endif %}

        {{ form|crispy }}

        <div class="mt-3">
            <button type="submit" name="action_add" class="btn-one">
                {% translate "Change Phone" context "action" %}
            </button>
        </div>
    </form>

    {% if not phone_verified %}
        <form style="display: none"
              id="verify-phone"
              method="post"
              action="{{ action_url }}">
            {% csrf_token %}
            <input type="hidden" name="action" value="verify">
        </form>
    {% endif %}
{% endblock inner_content %}

