{% extends "account/base_reauthenticate.html" %}
{% load allauth %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block reauthenticate_content %}
    <p>{% blocktranslate %}Enter your password:{% endblocktranslate %}</p>

    {% url 'account_reauthenticate' as action_url %}
    <form method="post" action="{{ action_url }}">
        {% csrf_token %}

        {{ form|crispy }}
        {{ redirect_field }}

        <div class="mt-3">
            <button type="submit" class="btn-one btn">
                {% trans "Confirm" %}
            </button>
        </div>
    </form>
{% endblock %}

