{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth account %}
{% load crispy_forms_tags %}

{% block head_title %}
    {% translate "Sign In" %}
{% endblock head_title %}

{% block inner_content %}
    <h2>{% translate "Send me a sign-in code" %}</h2>
    <p>{% blocktranslate %}You will receive a special code for a password-free sign-in.{% endblocktranslate %}</p>

    {% url 'account_request_login_code' as login_url %}
    <form method="post" action="{{ login_url }}">
        {% csrf_token %}
        {{ form|crispy }}
        {{ redirect_field }}

        <div class="mt-3">
            <button type="submit" class="btn-one">
                {% translate "Request Code" %}
            </button>
            <a href="{% url 'account_login' %}" class="btn-two btn ms-2">
                {% translate "Other sign-in options" %}
            </a>
        </div>
    </form>
{% endblock inner_content %}

