.StripeElement,
.stripe-style-input {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid transparent;
    background-color: rgb(236, 240, 243);
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    border: 1px solid #ced4da;
    color: #000 !important;
    height: 40px !important;
    background-color: rgb(236, 240, 243);
}

select:invalid {
    color: #aab7c4 !important;
    background-color: rgb(236, 240, 243) !important;
}
